<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <style>
        body{
            background-color: beige;
        }
    </style>
    <h3>Add A New Chat</h3>
    <form action="/chats" method="POST">
        <input placeholder="Who are you" name="from"> <br><br><br>
        <textarea name="msg">Write Your Text Here</textarea> <br><br>
        <input placeholder="Add reciver" name="to"><br><hr>
        <Button>Save</Button>
    </form>
    
</body>
</html>