body{
    margin: 20px;
    background-color: grey;
}
h2{
    Color:black;
}
.chat{
    background-color: rgb(157, 209, 154);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
} 
.msg{
    background-color: rgb(40, 139, 136);
    color: rgb(233, 242, 249);
    padding: 5px 15px;
    border-radius: 15px;
  
}
